go 1.22.0

use (
	./xapp
	./xbase36
	./xbase62
	./xcontext
	./xconv
	./xerror
	./xgrpc
	./xhtml
	./xhttp
	./xhttpheader
	./xjwt
	./xlog
	./xmime
	./xnet
	./xpostgres
	./xrand
	./xreflect
	./xsecurity
	./xsession
	./xsql
	./xsqlite
	./xsync
	./xterm
	./xtest
	./xtype
	./xurl
)
